@use "./styles/variables" as *;
@use "./styles/media" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font;
}

body {
  background: $gradient;
  color: $color-text;
}

.weather-app {
  @include flex-center;
  flex-direction: column;
  min-height: 100vh;
  gap: $spacing-2;
}
